body {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
  color: black;
  margin: 0;
  line-height: 1.4rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

/* Container */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
}

/* Hero Image */

.hero {
  background-image: url('../../resources/img/glasses-bg.png');
  background-position: center;
  background-size: cover;
  min-height: 30rem;
  padding-top: 1rem;
}

.banner {
  margin-top: 10rem;
  margin-right: -2rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.banner h1 {
  background-color: white;
  padding: 1.5rem 5rem;

}

/* Navigation */

.header-bar {
  padding: 1em 2em;
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul {
  display: flex;
  color: white;
  font-size: 1rem;
}

nav ul li {
  padding-right: 2rem;
}

nav ul li:last-child {
  padding-right: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Icon Section */

.icons {
  min-height: 8rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  align-items: top;
}

.icon {
  width: 30%;
  height: 8rem;
  margin: 3rem 0;
  display: flex;
  text-align: center;
  line-height: 1.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.paper {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.ruler {
  width: 5rem;
  margin-bottom: 1rem;
}

.truck {
  width: 5rem;
  margin-bottom: 1rem;
}

/* Philosophy & Appointments */

.item {
  width: 35%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2.5rem;
}

.section-title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  color: white;
  line-height: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: azure;
  text-align: left;
  padding: 4rem;
  margin-top: 4rem;
}

footer .logo {
  margin-left: 3rem;
}

/* Media Queries */
@media only screen and () {

}

@media only screen and () {

}
