body {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
  color: black;
  margin: 0;
  line-height: 1.4rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

/* Container */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
}

/* Hero Image */

.hero {
  background-image: url('../../resources/img/glasses-bg.png');
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.banner {
  margin-top: 10rem;
  margin-right: -2rem;
  display: flex;
  justify-content: flex-end;
}

.banner h1 {
  background-color: white;
  padding: 2.5rem 5rem;

}

/* Navigation */

.header-bar {
  padding: 1em 2em;
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul {
  display: flex;
  color: white;
  font-size: 1rem;
}

nav ul li {
  padding-right: 2rem;
}

nav ul li:last-child {
  padding-right: 0;
}

.mobile-nav {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Icon Section */

.icons {
  min-height: 8rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  align-items: top;
}

.icon {
  width: 30%;
  height: 8rem;
  margin: 3rem 0;
  display: flex;
  text-align: center;
  line-height: 1.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.paper {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.ruler {
  width: 5rem;
  margin-bottom: 1rem;
}

.truck {
  width: 5rem;
  margin-bottom: 1rem;
}

/* Philosophy & Appointments */

.item {
  width: 35%;
  display: inline-block;
  justify-content: space-between;
  vertical-align: top;
  margin: 0 2.5rem;
}

.section-title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  color: white;
  line-height: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: azure;
  text-align: left;
  padding: 4rem;
  margin-top: 4rem;
}

footer .logo {
  margin-left: 3rem;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {

  .hero {
    padding-top: 0;
    height: 22rem;
  }

  .container {
    width: 100%;
  }

  .banner {
    margin-top: 5rem;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  .banner h1 {
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
    line-height: 1rem;
  }

}

@media only screen and (max-width: 700px) {

  .body  {
    margin: 0;
  }

  .container {
    max-width: 100%;
    flex-direction: column;
  }

  .hero {
    min-height: 17rem;
    background-position: 20%;
  }

  .banner {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 12rem;
    margin-left: 0;
    margin-right: 0;
  }

  .banner h1 {
    padding: 1rem 0;
    line-height: 1rem;
  }

  .mobile-nav {
    display: list-item;
    list-style-type: none;
    display: inline-block;
  }

  .logo span {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .icons {
    margin: 3.77rem 0;
    justify-content: center;
  }

  .icon {
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin-top: 1.54rem;
    margin-bottom: 0;
  }

  .item-content {
    margin-bottom: 4rem;
    padding: 10px;
  }

  .item {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .item p {
    font-size: 0.77rem;
    line-height: 1rem;
  }

  .section-title {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  footer {
    display: flex;
  }

  footer .logo {
    margin: 0 auto;
    justify-content: center;
  }

  footer .span {
    display: none;
  }

}
