body {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
  color: black;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

/* Hero Image */

.hero {
  background-image: url('../../resources/img/glasses-bg.png');
  background-position: center;
  background-size: cover;
  min-height: 30rem;
  padding-top: 1rem;
}

.banner {
  margin-top: 10rem;
  margin-right: -2rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.banner h1 {
  background-color: white;
  padding: 1.5rem 5rem;

}

/* Navigation */

.header-bar {
  padding: 1em 2em;
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul {
  display: flex;
  color: white;
  font-size: 1rem;
}

nav ul li {
  padding-right: 2rem;
}

nav ul li:last-child {
  padding-right: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Classes */

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Media Queries */
@media only screen and () {

}

@media only screen and () {

}
